.row-header {
  margin: 0px auto;
  padding: 10px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #77757E;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #1A2530;
  color: floralwhite; }
.card-header{
  background:#222224;
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #222224; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #1c2e4a; }

  .carousel .carousel-item {
    width:100%;
    height: 300px; }

    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    height: 100%;
     }


#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

  .active img{
    width: 100%;
  }
